<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>404 Error - Page Not Found</title>
    <style>
      body {
        background-color: #f1f1f1;
        /* font-family: Arial, sans-serif; */
        text-align: center;
      }
      
      h1 {
        font-size: 5em;
        color: #333;
        margin-top: 100px;
      }
      
      p {
        font-size: 1.5em;
        color: #666;
      }
      
      a {
        color: #0066cc;
        text-decoration: none;
      }
    </style>
  </head>

  <body>
    <h1>404</h1>

    <p>We're sorry, the page you requested could not be found.</p>
    <p>
      Please <a href="/">click here</a> to return to the homepage.
    </p>
  </body>
</html>
